p {
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;  
    margin: auto; 
}

body {
    background-color: rgba(228, 185, 31, 0.866);
   
}

h1 {
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 200;
    text-align: center;
}

.container {
    display: flex;
   flex-direction: column;
   gap: 10px;
    max-width: min-content;
    place-items: center;
}

#answer{
    font-family: Georgia, 'Times New Roman', Times, serif; 
    font-size: 25px;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: left;
}